{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="container">
    <a href="{{ path('post_new') }}" class="btn btn-primary">Créer un Post</a>
</div>
{% endblock %}
