{% extends "base.html.twig" %}

{% block title %}Créer son compte{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">S'inscrire</button>
    {{ form_end(form) }}
</div>
{% endblock %}